name: Run Route Evaluation

on:
  push:
    paths:
      - 'route_scenario.toml'

jobs:
  run-route:
    if: github.event.repository.fork == true || github.ref != 'refs/heads/main'
    permissions:
      contents: write
      packages: read

    uses: ./.github/workflows/run-scenario.yml
    secrets: inherit
    with:
      scenario-file: 'route_scenario.toml'
      benchmark-app: 'route'