name: Run K8s Evaluation

on:
  push:
    paths:
      - 'k8s_scenario.toml'

jobs:
  run-k8s:
    if: github.event.repository.fork == true || github.ref != 'refs/heads/main'
    permissions:
      contents: write
      packages: read
    
    uses: ./.github/workflows/run-scenario.yml
    secrets: inherit
    with:
      scenario-file: 'k8s_scenario.toml'
      benchmark-app: 'k8s'